<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>

<body class="bg-dark text-white">

	<h2 class="text-center my-5">Best of the year by <span class="text-danger">[[${name}]]</span></h2>
	
	<p class="text-center">The [[${type2}]] at index <span class="text-danger">[[${id} + 1]]</span> is <span class="text-danger">[[${title}]]</span></p>
	
	<div class="d-flex justify-content-center my-5">
		<a th:href="@{/{type}(type=${type})}" class="btn btn-danger text-white">Go to [[${type}]]</a>
	</div>
	
</body>
</html>