<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="~{frags :: head}" />
</head>

<body class="bg-dark text-white">

	<div class="d-flex align-items-center justify-content-center my-5">
		<img alt="logo" th:src="@{/imgs/podio.png}" width="50px">
		<h2 class="mb-0 ms-2">Best <span class="text-danger">Songs</span> of the year</h2>
	</div>
	
	<ul class="d-flex flex-column align-items-center my-0 list-unstyled">
		<li th:each="song : ${songs}" th:object="${song}" class="d-flex">
			<div class="list-id">[[*{id}]]</div>
			<a th:href="@{/media/songs/{id}(id=${song.id - 1})}" class="list-title">[[*{title}]]</a>
		</li>
	</ul>
	
	<div class="d-flex justify-content-center my-5">
		<a th:href="@{/}" class="btn btn-danger text-white">Go to home</a>
	</div>
	
</body>
</html>